<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591017263151-ph75lps0ca2pt61gep9l1he6oa262bk6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591017263151-ph75lps0ca2pt61gep9l1he6oa262bk6</string>
	<key>API_KEY</key>
	<string>AIzaSyBI2JKcGXKr3XCRKACw15cfoL6PRnlboy8</string>
	<key>GCM_SENDER_ID</key>
	<string>591017263151</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vanthanh.FireBaseIOS3</string>
	<key>PROJECT_ID</key>
	<string>ios3-a5df8</string>
	<key>STORAGE_BUCKET</key>
	<string>ios3-a5df8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591017263151:ios:ce3edf6890789421ff46da</string>
</dict>
</plist>